{{ define "main" }}
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ $pages := $paginator.Pages }}
  {{ $lastIndex := sub (len $pages) 1 }}
  {{ $showBottomHr := gt $paginator.TotalPages 1 }}

  {{ range $i, $page := $pages }}
    {{ if gt $i 0 }}
      <hr>
    {{ end }}
    <h2><a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}</a></h2>
    {{ $page.Content | plainify | truncate 150 }}
      {{ if $page.Truncated }}
        <a class="moreLink" href="{{ $page.RelPermalink }}"> Read more &#x2b95; </a>
      {{ end }}
      {{ partial "terms_lite.html" (dict "taxonomy" "tags" "page" .) }}
      {{ if and $showBottomHr (eq $i $lastIndex) }}
        <hr>
      {{ end }}
    {{ end }}
    {{ template "_internal/pagination.html" . }}
{{ end }}
