{{ define "main" }} 
  {{- if eq .RelPermalink "/tags/" -}} 
    <div class="siteTitle">
      <h1>
        Tags
      </h1>
    </div>
    <div class="tag-page-list">
    {{- range $.Site.Taxonomies.tags.ByCount -}}
      <a href="{{ .Page.RelPermalink }}">
        <span>{{ .Name }} </span><small>({{.Count}})</small>
      </a>
    {{- end -}}
    </div>
  {{- else -}}
    <h1>{{ .Title }}</h1>
    {{ $paginator := .Paginate .Pages }}
    {{ $pages := $paginator.Pages }}
    {{ $lastIndex := sub (len $pages) 1 }}
    {{ $showBottomHr := gt $paginator.TotalPages 1 }}
    {{ range $i, $page := $pages }}
      {{ if gt $i 0 }}
        <hr>
      {{ end }}
      <h2>
        <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
      </h2>
      {{ $page.Content | plainify | truncate 150 }}
      {{ if $page.Truncated }}
        <a class="moreLink" href="{{ $page.RelPermalink }}"> Read more &#x2b95; </a>
      {{ end }}
      {{ if and $showBottomHr (eq $i $lastIndex) }}
        <hr>
      {{ end }}
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  {{- end -}} 
{{- end -}}
